<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.markmein"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Login"
            android:exported="false"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="eu.markmein.LOGIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Splash"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StaffLectureRecords"
            android:exported="false"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="eu.markmein.STAFFLECTURERECORDS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StaffListAtt"
            android:exported="false"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="eu.markmein.STAFFLISTATT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StaffMenu"
            android:exported="false"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="eu.markmein.STAFFMENU" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StaffModuleRecords"
            android:exported="false"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="eu.markmein.STAFFMODULERECORDS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StaffStudentRecords"
            android:exported="false"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="eu.markmein.STAFFSTUDENTRECORDS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StaffTakeAtt"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="eu.markmein.STAFFTAKEATT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StaffViewAbs"
            android:exported="false"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="eu.markmein.STAFFVIEWABS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StaffViewAtt"
            android:exported="false"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="eu.markmein.STAFFVIEWATT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StaffViewFeedback"
            android:exported="false"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="eu.markmein.STAFFVIEWFEEDBACK" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StudentMenu"
            android:exported="false"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="eu.markmein.STUDENTMENU" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StudentPostFeedback"
            android:exported="false"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="eu.markmein.STUDENTPOSTFEEDBACK" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>